- curr_module = @support ? '/support' : ''
= simple_form_for(resource, :url => curr_module.concat(@form_url)) do |f|
  = f.error_notification

  .inputs
    = f.input :title, :hint => "What's your question?"
    = f.input :description, :as => :text, :hint => "Provide some details about your problem to help diagnose it"

  .actions
    = f.button :submit , 'Ask Everyone', :class => "primary btn"