= simple_form_for(resource, :url => @form_url) do |f|
  = f.error_notification

  .inputs
    = f.input :title
    = f.input :description, :as => :text

  .actions
    = f.button :submit , 'Ask Everyone', :class => "primary btn"