%tr.item{:id=>list.id}
  %td= list.title
  %td= list.description
  %td= link_to "Show", resource_path(list)
  %td
    = link_to('Edit', edit_resource_path(list)) if can? :update, list
  %td
    = link_to('Delete', resource_path(list), :confirm => 'Are you sure?', :method => :delete) if can? :destroy, list
    
