- content_for :title do
  -if @support
    Support Questions
  -else
    Questions

- content_for :sidebar do
  = render :partial => "shared/ask"
  - if @support
    = render :partial => "shared/questions_blurb"
  - else
    = render :partial => "shared/support_blurb"
    = render :partial => "shared/atom_blurb"
//    %section.support
//      %p Subscribe to the #{link_to "Questions Atom Feed", feed_path}.

%ul.questions
  = render :partial => "list", :collection => collection

= will_paginate
