- content_for :head do
  - if @support
    = auto_discovery_link_tag :atom, support_questions_url(format: :atom)
  - else
    = auto_discovery_link_tag :atom, questions_url(format: :atom)

- content_for :title do
  -if @support
    Support Questions
  -else
    Questions

- content_for :sidebar do
  = render :partial => "shared/ask"
  - if @support
    = render :partial => "shared/questions_blurb"
  - else
    = render :partial => "shared/support_blurb"

- content_for :feed do
  - if @support
    = link_to "Feed", support_questions_url(format: :atom)
  - else
    = link_to "Feed", questions_url(format: :atom)

%ul.questions
  = render :partial => "list", :collection => collection

= will_paginate
