- @content_class = "question"
- content_for :title do
  = resource.title

- content_for :sidebar do
  &nbsp;
  - if can? :update, resource
    = link_to 'Edit', edit_resource_path
  - if can? :destroy, resource
    = link_to 'Delete', resource_path, :confirm => 'Are you sure?', :method => :delete

.meta
  Asked
  - if resource.user
    by
    %span.name= link_to resource.user.username, ""

  %span.date= time_ago_in_words(resource.created_at)
  ago


.description
  != RDiscount.new(resource.description).to_html

%h2= resource.answers.count == 1 ? "1 response" : "#{resource.answers.count} responses"
%ul.answers
  = render :partial => "answers/list", :collection => resource.answers

- if can? :create, Answer
  = render :partial => "answers/form"
