- content_for :title do
  = resource.title

- content_for :links do
  - if can? :update, resource
    = link_to 'Edit', edit_resource_path
  - if can? :destroy, resource
    = link_to 'Delete', resource_path, :confirm => 'Are you sure?', :method => :delete

- if resource.user
  .author Created by #{resource.user.username} 

.description
  = resource.description

%h2 Answers
%ul.answers  
  = render :partial => "answers/list", :collection => resource.answers

= render :partial => "answers/form"