<h1>New message</h1>
<table>
<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <tr>
    <td><%= f.label :recipient_id %></td>
    <td><%= f.collection_select(:recipient_id, User.find(:all, :order => :username) - [current_user], :id, :username) %></td>
  </tr>
  <tr>
    <td><%= f.label :subject %></td>
    <td><%= f.text_field :subject %></td>
  </tr>
  <tr>
    <td><%= f.label :text %></td>
    <td><%= f.text_area :text %></td>
  </tr>
  <tr>
    <td></td><td><%= f.submit 'Create' %></td>
  </tr>
<% end %>
</table>
