%h1 Hackety Hack Forums: #{forum_name @forum}
%p{:style => "padding-top:1em;padding-bottom:1em"}= forum_description @forum
- unless current_user.nil?
  %a{:href => "/forums/#{@forum}/discussions/new"} New Discussion
%ol
  - @discussions.each do |discussion|
    %li
      %a{ :href => "/forums/#{@forum}/#{discussion.slug}" }= discussion.title
      (posted by <a href="/hackers/#{discussion.author}">#{discussion.author}</a>)


%a{ :href => "/forums" } Back to Forum List
