%h1 A #{@content.type}, from #{@content.author}
%p Posted on #{@content.created_at.strftime("%m/%d/%Y at %I:%M%p")}
%p
  :markdown
    #{@content.body}
- @content.comments.each do |reply|
  .comment{:style => "clear:both;padding-bottom:1em"}
    %div{:style => "float:left;padding-right:1em"}
      %a{:href => "/hackers/#{reply.author}"}
        %img{:src => gravatar_url_for(reply.author_email), :alt => "#{reply.author.downcase}_gravatar", :class => "gravatar"}
    %div{:style => "width:500px"}
      %p
        <a href="/hackers/#{reply.author}">#{reply.author}</a> says:
      %p
        :markdown
          #{reply.body}
%div{:style => "clear:both"}
- if logged_in?
  %h2 Add a comment
  %form{:action => "/content/#{@content.id}/comment", :method => "POST"}
    %label{:for => "comment_body"} Body
    %br
    %textarea{:id => "comment_body", :name => "comment[body]", :rows => 20, :cols => 50}
    %br/
    Comments are formatted via 
    %a{:href => "http://daringfireball.net/projects/markdown/syntax"} Markdown
    %br
    %input{:type => "submit", :value => "Submit", :class => "button"}
- else
  %a{:href => "/login"} Please log in to comment.

    
