<!doctype html>
%html
  %head
    %link{:href => "/css/blueprint/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/blueprint/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 8]
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">/
    %script{:src => "/js/jquery-1.4.4.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery-ui-1.8.7.custom.min.js", :type => "text/javascript"}
    %script{:src => "/js/showdown.js", :type => "text/javascript"}
    %link{:href => "/css/black-tie/jquery-ui-1.8.7.custom.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/site.css", :rel => "stylesheet", :type => "text/css"}/

    %title Hackety Hack!

    :javascript
      $(function() {
        $(".button").button();
      });
    - if production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10499799-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();
    != yield_content :head

          
  %body{:style => "background-image:url('/images/stripe.png')"}
    #flash{:style => "background-color:#FFF"}
      = flash[:notice]
    != yield_content :body
    .container{:style => ""}
      .span-18.prepend-3.last{:style => "height:100%"}
        <br />
        <br />
        .span-9
          %a{:href => "/"}
            %img{:height => "64", :src => "/images/logo.png", :style => "float:left"}/
          %p.title{:style => "padding-top:20px;padding-left:80px"} Hackety Hack
        - if logged_in?
          .span-6.prepend-3.last
            %ul
              %li{:style => "display:inline"}
                %a{:href => "/download"} Download
              |
              %li{:style => "display:inline"}
                %a{:href => "/hackers/#{current_user.slug}"} My Page
              |
              %li{:style => "display:inline"}
                %a{:href => "/logout"} Log out
        - else
          .span-4.prepend-5.last
            %ul
              %li{:style => "display:inline"}
                %a{:href => "/download"} Download
              |
              %li{:style => "display:inline"}
                %a{:href => "/login"} Log in
        %div{:style => "clear:both"}
        != yield

