
#infobox{:style => "padding:10px;"}
  Hello there! This is the website for Hackety Hack. You can ask a question, share programs that you've made, or just tell everyone something. Don't forget, you should <a href="http://hackety-hack.com/download">download Hackety Hack</a>, it will teach you everything you need to get started with programming! This is just a place to participate in the Hackety Hack community.
  We also have a <a href="/faq">FAQ</a>, if you'd rather read that.

- if logged_in?
  %ul#input_list
    %li{:style => "display:inline"}
      %a#question_button.button{:href => "#"} Ask a question
    %li{:style => "display:inline"}
      %a#link_button.button{:href => "#"} Share a link
    %li{:style => "display:inline"}
      %a#post_button.button{:href => "#"} Tell everyone something
  %form#link_form{:action => "/content", :style => "display:none", :method => "POST"}
    %label{:for => "link"} Share a link
    %a.cancel{:href => "#"} 
      %img{:src => "/images/Close.png"}
    %br/
    %input#link{ :name => "content[body]", :size => "76", :type => "textbox"}/
    %input{ :name => "content[type]", :type => "hidden", :value => "link"}/
    %br/
    %input.button{:type => "submit", :value => "Share"}
  %form#post_form{:action => "/content", :style => "display:none", :method => "POST"}
    %label{:for => "post"} Tell everyone something
    %a.cancel{:href => "#"}
      %img{:src => "/images/Close.png"}
    %br/
    %textarea#post{ :name => "content[body]" }
    %input{ :name => "content[type]", :type => "hidden", :value => "post"}/
    %br/
    Comments are formatted via 
    %a{:href => "http://daringfireball.net/projects/markdown/syntax"} Markdown
    %br/
    %input.button{:type => "submit", :value => "Tell Everyone"}
    %br/
    %label Preview
    .preview
  %form#question_form{:action => "/content", :style => "display:none", :method => "POST"}
    %label{:for => "question"} Ask a question
    %a.cancel{:href => "#"} 
      %img{:src => "/images/Close.png"}
    %br/
    %textarea#question{:name => "content[body]"}
    %input{ :name => "content[type]", :type => "hidden", :value => "question"}/
    %br/
    Comments are formatted via 
    %a{:href => "http://daringfireball.net/projects/markdown/syntax"} Markdown
    %br/
    %input.button{:type => "submit", :value => "Ask a Question"}
    %br/
    %label Preview
    .preview
- else
  %a{:href => "/login"} Please log in to post something.

%h2.marginTop Here's what everyone else is up to!
%ul{:style => "list-style:none"}
  - @content_list.each do |content|
    %li{:style => "height:70px"}
      %img{:height => "64", :src => content.image, :class => "gravatar"}/
      %p{:class => "vertical-center-text"}
        %a{:href => "/hackers/#{content.author}"}= content.author
        shared a
        %a{:href => "/content/#{content.id}"}= content.type
        \: "#{content.body[0,50]}..." (#{content.comments.length} comments)
      %p{:class => "vertical-center-text"}
        Posted on #{content.created_at.strftime("%m/%d/%Y at %I:%M%p")}
    %br/
- unless @prev_page.nil?
  %a.button{:href => @prev_page, :id => "prev_button"}
    &laquo; Previous

- unless @next_page.nil?
  %a.button{:href => @next_page, :id => "next_button"}
    Next &raquo;

- content_for :head do
  :javascript
    $(function() {
      $( ".button").button();

      $("#question_button").click(function() {
        $('form').each(function(idx, elem) {
          if($(elem).is(':visible')) {
            $(elem).hide("blind");
          }
        });
        $("#question_form").show("blind");
      });
      $("#post_button").click(function() {
        $('form').each(function(idx, elem) {
          if($(elem).is(':visible')) {
            $(elem).hide("blind");
          }
        });
        $("#post_form").show("blind");
      });
      $("#link_button").click(function() {
        $('form').each(function(idx, elem) {
          if($(elem).is(':visible')) {
            $(elem).hide("blind");
          }
        });
        $("#link_form").show("blind");
      });

      $("a.cancel").click(function() {
        //$("#input_list").show("blind");
        $('form').each(function(idx, elem) {
          if($(elem).is(':visible')) {
            $(elem).hide("blind");
          }
        });
      });

       // Markdown Preview
       var $post_textarea = $('#post'),
       $post_preview = $('#post_form .preview'),
         converter = new Showdown.converter();
       $post_textarea.keyup(function() {
         $post_preview.html(converter.makeHtml($post_textarea.val()));
       }).trigger('keyup');
       var $question_textarea = $('#question'),
         $question_preview = $('#question_form .preview'),
           converter = new Showdown.converter();
       $question_textarea.keyup(function() {
         $question_preview.html(converter.makeHtml($question_textarea.val()));
       }).trigger('keyup');

    });

