- content_for :title do
  - if @user
    #{@user.username}'s Programs
  - else
    Programs

- unless @featured.blank? or @user
  #featured.programs
    .heading
      %h3 Featured
      .description Our favorite selection of projects.

    %ul.featured_programs_list
      - @featured.each do |program|
        %li
          .title= program_link program
          .author= author_link program.author_username, program

#all-programs.programs
  - unless @user
    .heading
      %h3 All Programs
      .description Every program uploaded by our users!

  %ul.programs_list
    - @programs.each do |program|
      %li
        .title= program_link program
        .author= author_link program.author_username, program

- if @user
  %ul.inline-menu.bottom-nav
    %li= link_to "All Programs", programs_path
    %li= link_to "#{@user.username}'s profile", user_path(@user)
