- unless current_user
  .alert-message.info
    = @program.author_username
    is learning how to program with
    %strong Hackety Hack!
    = link_to "Why not join them?", new_user_registration_path 



%h1 '#{@program.title}', a program by #{@program.author_username}

%pre.prettyprint
  = @program.source_code

%hr/

%h3 Other Programs

Make sure to check out all the other programs other users have made on the #{link_to "All Programs page", programs_path}!
