<h1><%=h @program.name %></h1>
<h3>A program by <%= @program.user.username.humanize %></h3>
<br />
<p>
  <%=h @program.description %>
</p>

<div style="margin:1em;width:550px;">
 <p><%=syntax_highlight "<pre class='ruby'>#{@program.text}</pre>"  %></p>
</div>

<% if @program.user == current_user %>
<%= link_to 'Edit this program', edit_program_path(@program) %>
<% end %>

<h2>Comments</h2><br />
<% @program.comments.each do |comment| %>
<% if cycle("yes","no") == "yes" %>
  <div style="text-align:left;float:left;max-width:550px" ><%= link_to image_tag(comment.user.avatar_url, :style => "height:2em;"), user_path(comment.user.username) %><span style="vertical-align:super"><%= comment.text %></span></div><br style="clear:both" />
<% else %>
  <div style="text-align:right;float:right;max-width:550px" ><span style="vertical-align:super"><%= comment.text %></span><%= link_to image_tag(comment.user.avatar_url, :style => "height:2em;"), user_path(comment.user.username) %></div><br style="clear:both" />
<% end %>
<% end %>
<br style="clear:both"/>
<h2>Make a comment</h2>
<% form_for Comment.new do |f| %>
  <%= f.text_area :text, :rows => 10, :cols => 65 %><br />
  <%= f.hidden_field :program_id, :value => @program.id %>
  <%= f.submit %>
<% end %>

