%p{:style => "float:left;padding-right:1em"}
  %img{:src => gravatar_url_for(@discussion.author)}
%h1= @discussion.title
%p{:style => "padding-bottom:1em"} By <a href="/hackers/#{@discussion.author}">#{@discussion.author}</a>

%p= @discussion.body

%ul
  - @discussion.replies.each do |reply|
    %li #{reply.author} says: #{reply.body}

- unless current_user.nil?
  %a{ :href => "/forums/reply/to/#{@discussion.forum}/#{@discussion.slug}"} Reply
%a{ :href => "/forums/#{@discussion.forum}" } Back to Discussions
