%p <a href="/forums">Hackety Forums</a> > <a href="/forums/#{@discussion.forum}">#{@discussion.forum_name}</a> > #{@discussion.title}
%br
%p{:style => "float:left;padding-right:1em"}
	%img{:src => gravatar_url_for(@discussion.author_email)}
%h1= @discussion.title
%p{:style => "padding-bottom:1em"} By <a href="/hackers/#{@discussion.author}">#{@discussion.author}</a>
:markdown
	#{@discussion.body}

%hr

- @discussion.replies.each do |reply|
	.comment{:style => "clear:both"}
		%div{:class => "left"}
			%a{:href => "/hackers/#{reply.author}"}
				%img{:src => gravatar_url_for(reply.author_email), :alt => "#{reply.author.downcase}_gravatar", :class => "comment_gravatar"}
		%div{:style => "width:500px"}
			%p
				<a href="/hackers/#{reply.author}">#{reply.author}</a> says:
			:markdown
				#{reply.body}

%hr

- unless current_user.nil?
	%a{ :href => "/forums/reply/to/#{@discussion.forum}/#{@discussion.slug}"} Reply
	%br
	%br
%a{ :href => "/forums/#{@discussion.forum}" } Back to Discussions
