%h1= @discussion.title

%p= @discussion.body

%ul
  - @discussion.replies.each do |reply|
    %li= reply.body

%a{ :href => "/forums/reply/to/#{@discussion.forum}/#{@discussion.slug}"} Reply
%a{ :href => "/forums/#{@discussion.forum}" } Back to Discussions
