- content_for :title do
  = "#{resource.username}'s page"

-content_for :sidebar do
  %section.about-user
    %img{:src => gravatar_url(resource.email)}
    - if current_user && current_user != resource
      -if current_user.following?(resource)
        = simple_form_for(resource, :url => resource_path(current_user) + '/unfollow', :method=>:post) do |f|
          = f.hidden_field :followee, :value => resource.id
          = f.button :submit, :value => "Unfollow", :class => "primary btn"
      - else
        = simple_form_for(resource, :url => resource_path(current_user) + '/follow', :method=>:post) do |f|
          = f.hidden_field :followee, :value => resource.id
          = f.button :submit, :value => "Follow", :class => "primary btn"

    %h2= "About #{resource.username}"
    %h4= resource.about
    %hr
    %p 
      = link_to "Programs", user_programs_path(resource)
    %p 
      Following:
      =link_to resource.following.count, resource_path(resource) + "/following"
    %p 
      Followers:
      = link_to resource.followers.count, resource_path(resource) + "/followers"
    %hr
    - if can? :update, resource
      = link_to "Change My Settings", edit_registration_path(resource), :class => "btn success"


- unless @user.questions.empty?
  %section.questions
    %header 
      %h2 Questions
    - @user.questions.each do |question|
      %article.question
        %h4= link_to question.title, question_path(question)

- unless @user.answers.empty?
  %section.answers
    %header
      %h2 Answers
    - @user.answers.each do |answer|
      %article.answer
        %h4= "#{@user.username} answered \"#{answer.question.title}\" with:"
        %p= answer.description
