<div style="margin-bottom:1em;width:550px;max-width:550px;">
  <%= image_tag @user.avatar_url, :style => "float:left;margin-right:1em" %>
  <div style="padding-left:1em;text-align:right;">
    <h1><%= @user.username.humanize %></h1>
    <p><%= link_to @user.link, @user.link %></p>
    <p><%= @user.about %></p>
    <% unless @user == current_user %>
      <% if current_user.watches.include? @user %>
        <%= link_to "Stop watching #{@user.username}", watching_path(current_user.watchings.detect(@user).first), :method => :delete %>
      <% else %>
        <%= link_to "Watch #{@user.username}", watchings_path(:watches_id => @user), :method => :post %>
      <% end %>
    <% else %>
      <br />
    <% end %>
  </div>
</div>
<br />
<br />
<hr style="width:550px;" />
<div>
<p><%= @user.username.humanize %>'s programs:</p><br />
<ul>
  <% @user.programs.each do |program| %>  
  <li><%= link_to program.name, program %> - <%= program.description %></li>
  <% end %>
</ul>
<% if @user == current_user %>
  <%= link_to "Make a new program", new_program_path %>
<% end %>
</div>
<br style="clear:both" />
<hr style="width:550px;" />
<div>
<p><%= @user.username.humanize %> is watching:</p><br />
<% @user.watches.each_with_index do |watch, i| %>  
  <%= "<div>" if i % 6 == 0 %><%= link_to image_tag(watch.avatar_url, :style => "margin-right:1em;margin-bottom:1em;"), user_path(watch.username) %> <%= "</div>" if i % 6 == 5 %>
<% end %>    
</div>
<%= "</div>" if @user.watches.count % 6 != 0 %>
