- content_for :title do
  = "#{resource.username}'s page"

.about-user
  %img{:src => gravatar_url(resource.email)}
  %h2= "About #{resource.username}"
  %p 
    Following:
    =link_to resource.following.count, resource_path(resource) + "/following"
  %p 
    Followers:
    = link_to resource.followers.count, resource_path(resource) + "/followers"
  %h3= resource.about
  - if can? :update, resource
    = link_to "Change My Settings", edit_registration_path(resource), :class => "btn success"