%h1 Hackety Hack: the coder's starter kit
%h2 Want to learn how to program computers?
%p Hackety Hack is easy, simple, and free.
%p Click the Shoes logo to grab Shoes, and the Hackety Logo to download v0.9.3:
%br
%p
	= link_to(image_tag("shoes-icon.png", :height => 64), "http://wiki.github.com/shoes/shoes/recentbuilds")
	= link_to(image_tag("logo.png"), "http://github.com/downloads/hacketyhack/hacketyhack/hacketyhackv0.9.3.shy")
	/
		= link_to(image_tag("apple.jpg", :height => 100), "http://github.com/downloads/steveklabnik/hacketyhack/hacketyhack-v0.9pre2.dmg")  
		= link_to(image_tag("windows.png", :height => 100), "http://github.com/downloads/steveklabnik/hacketyhack/hacketyhack-0.9pre.exe") 
		= link_to(image_tag("tux.jpg", :height => 100), "http://github.com/downloads/steveklabnik/hacketyhack/hacketyhack-0.9.run")
%br
%p 
	Already know how to code? You'll want to 
	= link_to "click here", "http://wiki.github.com/hacketyhack/hacketyhack/"
	:plain
		.
%br
%p= image_tag "hackety_screenshot.png"


