%h1 Hackety Hack: the coder's starter kit
%h2 Want to learn how to program computers?
%p Hackety Hack is easy, simple, and free.
%p Click the logo of your operating system to download v0.9:
%br
%p
	= link_to(image_tag("apple.jpg", :height => 100), "http://github.com/downloads/steveklabnik/hacketyhack/hacketyhack-v0.9pre2.dmg")  
	= link_to(image_tag("windows.png", :height => 100), "http://github.com/downloads/steveklabnik/hacketyhack/hacketyhack-0.9pre.exe") 
	= link_to(image_tag("tux.jpg", :height => 100), "http://github.com/downloads/steveklabnik/hacketyhack/hacketyhack-0.9.run")
%br
%p 
	Already know how to code? You'll want to 
	= link_to "click here", "http://wiki.github.com/steveklabnik/hacketyhack/"
	:plain
		.
%br
%p= image_tag "hackety_screenshot.png"


