%p= @hacker.username + "'s page"
%p
	%img{:src => @hacker.gravatar_url}
%p Following: <a href="/hackers/#{@hacker.username}/following">#{@hacker.following.count}</a>
%p Followers: <a href="/hackers/#{@hacker.username}/followers">#{@hacker.followers.count}</a>

- if logged_in? && @hacker.username != current_user.username
	%a{:href => "/messages/new/to/#{@hacker.username}" }= "Send #{@hacker.username} a message"
	- if current_user.following? @hacker
		%a{:href => "/hackers/#{@hacker.username}/unfollow"} Unfollow #{@hacker.username}
	- else
		%a{:href => "/hackers/#{@hacker.username}/follow"} Follow #{@hacker.username}
