%h1= @hacker.username + "'s page"
%img{:src => @hacker.gravatar_url}
%h2 About #{@hacker.username}:
%p= @hacker.about
%hr
%p Following: <a href="/hackers/#{@hacker.username}/following">#{@hacker.following.count}</a>
%p Followers: <a href="/hackers/#{@hacker.username}/followers">#{@hacker.followers.count}</a>
%hr
%h2 Programs:
%ul
  - @hacker.programs.each do |program|
    %li
      %a{:href => "/programs/#{@hacker.username}/#{program.slug}"}= program.title

%hr
- if logged_in? 
  - if @hacker.username != current_user.username
    %a{:href => "/messages/new/to/#{@hacker.username}" }= "Send #{@hacker.username} a message"
    - if current_user.following? @hacker
      %a{:href => "/hackers/#{@hacker.username}/unfollow"} Unfollow #{@hacker.username}
    - else
      %a{:href => "/hackers/#{@hacker.username}/follow"} Follow #{@hacker.username}
  - else
    %a{:href => "#", :class => "button" } Change My Settings
    %div{:id => "account_settings", :style => "display:none"}
      %h2 Your Account
      %p You can use these forms to update your information:
      %br
      %form{:action => "/hackers/update", :method => "POST"}
        %table
          %tr
            %td
              %label{:for => "password[new]"} New Password
            %td
              %input{:type => "password", :name => "password[new]"}
          %tr
            %td
              %label{:for => "password[confirm]"} Confirm New Password
            %td
              %input{:type => "password", :name => "password[confirm]"}
          %tr
            %td
            %td
              %input{:type => "submit", :value => "Change password"}
      %hr
      %form{:action => "/hackers/update", :method => "POST"}
        %label{:for => "hacker[about]"} About Me
        %br
        %textarea{:name => "hacker[about]", :rows => 10, :cols => 40}
        %br
        %input{:type => "submit", :value => "Update About"}
    %br
    %br
    %br
- content_for :head do
  :javascript
    $(function() {
      $( ".button").button();
      $(".button").click(function() {
        $(".button").hide("blinds");
        $('#account_settings').toggle("blinds");
      });
    });
