%p= @hacker.username + "'s page"
%p
	%img{:src => @hacker.gravatar_url}
%p Following: #{@hacker.following.count}
%p Followers: #{@hacker.followers.count}

- if logged_in? && @hacker.username != current_user.username
	%a{:href => "/messages/new/to/#{@hacker.username}" }= "Send #{@hacker.username} a message"
	%a{:href => "/hackers/#{@hacker.username}/follow"} Follow #{@hacker.username}
