.span-18.last
  %h1= @program.title
  %h2 By #{@program.creator_username}

  %pre= @program.code

  %hr/

  %h2 Comments

  - @program.comments.each do |reply|
    .comment{:style => "clear:both;padding-bottom:1em"}
      %div{:style => "float:left;padding-right:1em"}
        %a{:href => "/hackers/#{reply.author}"}
          %img{:src => gravatar_url_for(reply.author_email), :alt => "#{reply.author.downcase}_gravatar", :class => "hacker-gravatar"}
      %div{:style => "width:500px"}
        %p
          <a href="/hackers/#{reply.author}">#{reply.author}</a> says:
        %p
          :markdown
            #{reply.body}
  %br/
  %br/
  - if logged_in?
    %h2 Add a comment
    %form{:action => "/programs/#{@program.creator_username}/#{@program.slug}/comment", :method => "POST"}
      %label{:for => "comment_body"} Body
      %br
      %textarea{:id => "comment_body", :name => "comment[body]", :rows => 20, :cols => 50}
      %br
      %input{:type => "submit", :value => "Submit", :class => "button"}
  %br/
  %br/
