- @page_class = "home"

- content_for :top do
  #home-splash
    .container
      = image_tag "splash.png"

%section#download
  %h1 Start Here!
  .content
    %p
      Hackety Hack will teach you the absolute basics of programming from the ground up. No previous programming experience is needed!
    %p
      With Hackety Hack, you'll learn the <a href="http://www.ruby-lang.org/en/">Ruby programming language</a>. Ruby is used for all kinds of programs, including desktop applications and websites.
  %a.btn.primary.large{:href => "/downloads/latest/#{@platform}"}
    %b.download Download Now
    %br
    %span.version
      Version 1.0.1
      - if @platform
        for #{@platform}

%section#explore
  %h1 Learn and Explore
  .content
    %p Hackety Hack uses the #{link_to "Shoes", "http://shoesrb.com/"} toolkit to make it really easy and fun to build graphical interfaces. Several lessons and example programs are provided, showing you how to make all kinds of fun things!
    %p Check out what other people are doing with Hackety Hack! The #{link_to "Programs", programs_path} section is chock full of fun projects from other Hackety users. You can even upload your own! Put your account information into the Hackety Hack app, and you'll be able to share all the programs you create.

%section#ask
  %h1 Help is Here
  .content
    %p Got a question about Hackety Hack? Check out our #{link_to "FAQ", "faq"}. If that doesn't cover it ask for support here
    %p Got a question about programming in general? Ask away in the #{link_to "Questions", questions_path} section. No question to big or small, the community is here to help you out.
