- content_for :title do
  Log In

.sign-in
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .inputs  
      = link_to image_tag("authbuttons/github_32.png", :size => "32x32"), "/users/auth/github", :id => 'github_login'
      = link_to image_tag("authbuttons/twitter_32.png", :size => "32x32"), "/users/auth/twitter", :id => 'twitter_login'
      = link_to image_tag("authbuttons/facebook_32.png", :size => "32x32"), "/users/auth/facebook", :id => 'facebook_login'
      = link_to image_tag("authbuttons/linkedin_32.png", :size => "32x32"), "/users/auth/linkedin", :id => 'linkedin_login'
      = link_to image_tag("authbuttons/google_32.png", :size => "32x32"), "/users/auth/google", :id => 'google_login'
      = link_to image_tag("authbuttons/yahoo_32.png", :size => "32x32"), "/users/auth/yahoo", :id => 'yahoo_login'
      = link_to image_tag("authbuttons/openid_32.png", :size => "32x32"), "/users/auth/openid", :id => 'openid_login'   
      = f.input :username, :required => false, :autofocus => true
      = f.input :password, :required => false
      = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
    .actions
      = f.button :submit, "Log in", :class => "btn primary"
.other
  = render :partial => "devise/shared/links"
