.post
	%h1= @post.title
	- markdown = RDiscount.new(@post.body, :smart, :filter_html)
	%div!= markdown.to_html
	%hr
	%br
	- @post.comments.each do |comment|
		.comment{:style => "clear:both"}
			%div{:class => "left"}
				%a{:href => "/hackers/#{comment.author}"}
					%img{:src => gravatar_url_for(comment.author_email), :alt => "#{comment.author.downcase}_gravatar", :class => "comment_gravatar"}
			%div{:style => "width:500px"}
				%p
					<a href="/hackers/#{comment.author}">#{comment.author}</a> says:
				%p
					= comment.body
	%br
	- if logged_in?
		%hr
		%form{:action => "/comments", :method => "POST"}
			%input{:type => "hidden", :id => "post_id", :name => "post_id", :value => @post.id}
			%label{:for => "comment_body"} Submit your opinion:
			%br
			%textarea{:id => "comment_body", :name => "comment[body]", :cols => 70, :rows => 5}
			%br
			%input{:type => "submit", :value => "Submit"}
	- else
		%p <a href="/login">Log in</a> to add your own commentary.
	%hr
	%a{:href => "/blog"}Back to blog

