%h1 Blog Admin

%h2 New Post
= simple_form_for @post, :url => blog_index_path do |f|
  .inputs
    = f.input :title
    = f.input :content, :as => :text

  .actions  
    = f.button :submit, :value => "Create Blog post", :class => "primary btn"

%h2 All Posts
%ul
  - @posts.each do |post|
    %li= post.title
  
