- content_for :title do 
  = @post.title

- content_for :sidebar do
  = render :partial => "shared/recent"
  = render :partial => "shared/ask"
  = render :partial => "shared/lessons"

.post
  .created_at
    = @post.created_at.strftime("Posted %B %d, %Y at %l:%M %p")
    
  .content
    =markdown(@post.content)
