!!!
%html
  %head
    %title Hackety Hack!
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "shared/menu/user"
    = render "shared/menu/main"
    
    - if flash[:notice]
      .flash #{flash[:notice]}

    %h1.title
      = yield :title

    = yield :links
    = yield
