<!DOCTYPE html>
<html>
  <head>
    <title>Hackety Hack!</title>
    <%= stylesheet_link_tag "app" %>
    <%= yield :head %>
  </head>
  <body>
    <div id="top">
      <%= image_tag "logo.png" %>
    </div>
    <div id="middle">
      <%= yield %>
    </div>
    <div id="bottom">
      <%= yield :bottom %>
    </div>
  </body>
</html>
