!!!
%html
  %head
    %title Hackety Hack!

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    / <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.topbar
      .topbar-inner
        .container
          #logo
            = link_to "Hackety Hack", root_path
          = render "shared/menu/main"
          = render "shared/menu/user"

    #stars
      .star.star1
      .star.star2
      .moon
      .star.star3
      .star.star4
      .star.star5
      .star.star6

    - sidebar = yield :sidebar

    #content-wrap{:class => @page_class}
      .container{:class => sidebar.empty? ? "one-column" : "two-column"}
        - if flash[:notice]
          .container.alert-message.success
            #{flash[:notice]}
            = link_to "x", "#", :class => "close"

        #content{:class => @content_class}
          - title = yield :title
          - unless title.empty?
            %h1.title= title

          = yield

        - unless sidebar.empty?
          #sidebar
            = sidebar

    %footer
      .container
        = render "shared/menu/footer"

