!!!
%html
  %head
    %title Hackety Hack!

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.topbar
      .topbar-inner
        .container
          %h3 
            = link_to "Hackety Hack", root_path
          = render "shared/menu/main"
          = render "shared/menu/user"
    
    .container
      - if flash[:notice]
        .alert-message.success
          #{flash[:notice]}
          = link_to "x", "#", :class => "close"

      %h1.title
        = yield :title

      = yield :links
      = yield


    %footer
      .container 
        Footer