<!DOCTYPE html>
<html>
  <head>
    <title>Hackety Hack!</title>
    <%= stylesheet_link_tag "app" %>
    <%= yield :head %>
  </head>
  <body>
    <% [:notice, :error].each do |key| %>
      <% if flash[key] %>
        <div class="<%= key %>" id="flash">
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>
     <div id="user_nav">  
       <% if current_user %>  
         <%= link_to "Edit profile", edit_user_path(:current) %>  
         <%= link_to "Logout", logout_path %>  
       <% else %>  
         <%= link_to "Register", new_user_path %>  
         <%= link_to "Log in", login_path %>  
       <% end %>  
     </div>  
    <%= yield %>
  </body>
</html>
