<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hackety Hack!</title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "ruby" %>
    <%= stylesheet_link_tag "application" %>
    <%= yield :head %>
  </head>
  <body>
    <%= image_tag "hhhello.png", :id => "hello" %>
    <div id="nav">
      <%= link_to "Blog", blog_path %> |
      <%= link_to "Help", blog_path %> |
      <% if current_user %>
        <%= link_to "My messages", messages_path %> | 
        <%= link_to "My page", user_path(current_user.username) %> | 
        <%= link_to "Edit info", edit_user_path(current_user.username) %> | 
        <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to "Sign up", new_user_path %> | 
        <%= link_to "Log in", login_path %>
      <% end %>
    </div>
    <div id="posts" class="clearfix">
        <%= yield %>
    </div>
    <%= yield :view_javascript %>
    <script type="text/javascript">
      //<![CDATA[
      (function() {
        var links = document.getElementsByTagName('a');
          var query = '?';
            for(var i = 0; i < links.length; i++) {
              if(links[i].href.indexOf('#disqus_thread') >= 0) {
                  query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
                    }
                      }
                        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/hacketyhack/get_num_replies.js' + query + '"></' + 'script>');
                        })();
                        //]]>
                      </script>
  </body>
</html>
